.category__content {
    width: 100%;
    height: 392px;
    border-radius: 12px;
    overflow: hidden;
    transition: 300ms ease scale;

    &:hover {
        scale: 1.05;
    }

    img {
        width: 100%;
        height: 350px;
        border-radius: 12px;
        overflow: hidden;
        object-fit: cover;
    }
    p {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: var(--black);
    }
}
