.btn__content {
    width: fit-content;
    height: 58px;

    a {
        width: 100%;
        height: 100%;
        background: var(--green);
        border-radius: 6px;
        padding: 16px 56px;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: var(--white);
        transition-duration: 300ms;
        transition-timing-function: ease;
        transition-property: background;
        text-decoration: none;

        &:hover {
            background: var(--black);
        }
    }
}
