.welcome__content {
    background-image: url(/img.jpg);
    width: 100%;
    height: 600px;
    padding: 80px 40px;
    p {
        font-weight: 700;
        font-size: 96px;
        line-height: 110%;
        color: var(--white);
        margin-bottom: 59px;
    }
}
