.separator {
    border: 1px solid var(--grey-divider);
    width: 100%;
    height: 0px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 0px;
        top: -1px;
        transform: translateX(100%);
        left: 0;
        border: 1px solid var(--green);
        transition: 300ms ease all;
    }

    &:hover::before {
        transform: translateX(0%);
    }
}
