.counter {
    width: 200px;
    height: 58px;
    display: flex;
    border-radius: 6px;
    border: 1px solid var(--grey-divider);

    button {
        border: 1px solid var(--grey-divider);
        border-radius: 6px;
        width: 58px;
        height: 58px;
        outline: none;
        background: transparent;
        cursor: pointer;
        transition: 300ms ease all;

        &:hover {
            border: 1px solid var(--green);

            svg path {
                stroke: var(--green);
            }
        }
    }
    div {
        width: 96px;
        height: 58px;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            height: fit-content;
        }
    }
}
